---
import Examples from "./Examples.astro";
---

<Examples>
  <h1 class="end-header">
    Learn more at <a href="/">SVG-Tutorial.com</a>
  </h1>
  <p class="end-connect">
    Connect on <a
      href="https://www.linkedin.com/in/hunor-marton-borbely/"
      target="_blank"
      rel="noopener">LinkedIn</a
    > and <a href="https://x.com/HunorBorbely" target="_blank" rel="noopener"
      >Twitter</a
    >
  </p>
</Examples>

<style>
  h1.end-header {
    font-size: 1.8em;
    line-height: 1.4em;
    margin-bottom: 1rem;

    a {
      display: inline-block;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  p.end-connect a {
    display: inline-block;
    color: #0070f3;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
</style>
