<a href=`/` class="menu"></a>

<style>
  .menu {
    position: absolute;
    top: 10px;
    right: 30px;

    @media (min-height: 750px) {
      top: 30px;
    }

    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    z-index: 1;

    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="-100 -100 200 200"><path d="M -45 -45 L  45 -45 M -45   0 L  45   0 M -45  45 L  45  45" stroke="black" stroke-width="15" stroke-linecap="round" /></svg>');

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #e0e0e0;
    }
  }
</style>
