---
import Slide from "./Slide.astro";
---

<Slide start={4} slides={2}>
  <div class="slide-svg"><slot /></div>
</Slide>

<style is:global lang="scss">
  $slide: 4;

  @import "keyframes";

  @include keyframes(
    svg-container-1,
    left,
    [calc(50% - 220px),
    calc(50% - 660px)]
  );
  @include keyframes(
    svg-container-2,
    left,
    [calc(50% + 220px),
    calc(50% - 220px)]
  );
  @include keyframes(
    svg-container-3,
    left,
    [calc(50% + 620px),
    calc(50% + 180px)]
  );

  .slide-svg {
    display: flex;
    gap: 30px;
  }

  .slide-svg .markdown-example {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll();
  }

  .slide-svg .markdown-example:nth-of-type(1) pre {
    position: relative;
    top: 50px;
  }

  .slide-svg .markdown-example:nth-of-type(1) {
    animation-name: slide-#{$slide}-svg-container-1;
  }

  .slide-svg .markdown-example:nth-of-type(2) {
    animation-name: slide-#{$slide}-svg-container-2;
  }

  .slide-svg .markdown-example:nth-of-type(3) {
    animation-name: slide-#{$slide}-svg-container-3;
  }
</style>
