---
import Slide from "./Slide.astro";
---

<Slide start={4} slides={2}>
  <div class="slide-svg"><slot /></div>
</Slide>

<style is:global lang="scss">
  $slide: 4;

  .slide-svg .markdown-example {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    animation-timeline: --container-3;
    animation-range: contain 0% contain 100%;
    animation-fill-mode: forwards;
  }

  .slide-svg .markdown-example pre {
    width: 400px;
  }

  .slide-svg .markdown-example:nth-of-type(1) pre {
    position: relative;
    top: 50px;
  }

  .slide-svg .markdown-example:nth-of-type(1) {
    @keyframes anima1 {
      100% {
        left: calc(50% - 660px);
      }
    }
    left: calc(50% - 220px);
    animation-name: anima1;
  }

  .slide-svg .markdown-example:nth-of-type(2) {
    @keyframes anima2 {
      100% {
        left: calc(50% - 220px);
      }
    }
    left: calc(50% + 220px);
    animation-name: anima2;
  }

  .slide-svg .markdown-example:nth-of-type(3) {
    @keyframes anima3 {
      100% {
        left: calc(50% + 220px);
      }
    }
    left: calc(50% + 660px);
    animation-name: anima3;
  }
</style>
