---
import Slide from "./Slide.astro";
---

<Slide start={28} slides={2}>
  <div class="slide-clock">
    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <circle
        cx="0"
        cy="0"
        r="90"
        fill="transparent"
        stroke="black"
        stroke-width="10"></circle>
      <ellipse cx="-25" cy="-25" rx="10" ry="15"></ellipse>
      <ellipse cx="25" cy="-25" rx="10" ry="15"></ellipse>
      <path
        fill="none"
        stroke="black"
        stroke-width="10"
        stroke-linecap="round"
        d="M -40,30 Q 0,30 40,30"></path>
    </svg>
  </div>
</Slide>

<style lang="scss">
  $slide: 28;

  @import "keyframes";
  @include keyframes(
    smile,
    d,
    [path("M -40,30 Q 0,30 40,30"),
    path("M -40,30 Q 0,60 40,30")]
  );

  .slide-clock {
    path {
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-timeline: scroll();
      animation-name: slide-#{$slide}-smile;
    }
  }
</style>
