---
import Slide from "../../components/summary/Slide.astro";
import Examples from "./_Examples.astro";
---

<Slide container="end">
  <div class="slide-end">
    <Examples>
      <h1>SVG-Tutorial.com</h1>
      <h2>Thank You!</h2>
    </Examples>
  </div>
</Slide>

<style>
  .slide-end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    .header-container {
      max-width: 60vw;
    }

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    .header-grid {
      margin: 0;
    }
  }
</style>
