---
import Slide from "../../components/summary/Slide.astro";
import Examples from "./_Examples.astro";
---

<Slide>
  <div class="slide-header">
    <Examples>
      <h1>How to Code Images in React with SVG</h1>
      <h2>by Hunor Márton Borbély</h2>
    </Examples>
  </div>
</Slide>

<style>
  .slide-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    .header-container {
      max-width: 60vw;
    }

    h1 {
      font-size: 3.2rem;
    }

    h2 {
      font-size: 2rem;
    }

    .header-grid {
      margin: 0;
    }
  }
</style>
