.canvas {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.canvasCorners {
  stroke: var(--corner-color);
  stroke-width: 2px;
  stroke-linecap: square;
}

.presentationHelper {
  stroke: var(--helper-color);
  stroke-width: 1px;
  stroke-dasharray: 20, 20;
  fill: none;
}

.presentationAlternative {
  stroke: var(--curve-alternative-color);
  stroke-width: 10px;
  fill: none;
  cursor: pointer;
}

.presentationAlternative:hover {
  stroke: var(--curve-alternative-hover-color);
}

.presentationAlternativeHitArea {
  stroke: transparent;
  stroke-width: 20px;
}
