.code {
  color: white;
  box-sizing: border-box;
  padding: 26px;
  background-color: #24292e;
  margin: 0;

  * {
    transition: color 0.4s linear;
  }
}

.code .level1 {
  padding-left: 20px;
}

.code .level2 {
  padding-left: 40px;
}

.code .tag {
  color: #85e89d;
}
.code .attribute:not(:last-child)::after {
  content: " ";
}
.code .key {
  color: #b392f0;
}
.code .value {
  color: #9ecbff;
}
