.code {
  color: white;
  box-sizing: border-box;
  padding: 26px;
  background-color: var(--code-background-color);
  margin: 0;

  * {
    transition: color 0.4s linear;
  }
}

.code .tag {
  color: #85e89d;
}
.code .key {
  color: #b392f0;
}
.code .value {
  color: #9ecbff;
}

.space-separated:last-of-type .space {
  display: none;
}
