:root {
}

.draggable {
  fill: var(--draggable-color);
  cursor: grab;
}

.draggable text {
  fill: var(--draggable-text-color);
}

.draggable .arrowHead {
  fill: var(--draggable-icon-color);
}

.draggable .arrowLine {
  stroke: var(--draggable-icon-color);
  stroke-width: 2px;
}

.draggable:hover {
  fill: var(--draggable-hover-color);
  cursor: grab;
}

.draggable:hover text {
  fill: var(--draggable-text-hover-color);
}

.draggable:hover .arrowHead {
  fill: var(--draggable-icon-hover-color);
}

.draggable:hover .arrowLine {
  stroke: var(--draggable-icon-hover-color);
  stroke-width: 2px;
}

.dragging {
  fill: var(--dragging-color);
  cursor: grabbing;
}

.dragging text {
  fill: var(--dragging-text-color);
}

.dragging .arrowHead {
  fill: var(--dragging-icon-color);
}

.dragging .arrowLine {
  stroke: var(--dragging-icon-color);
  stroke-width: 2px;
}

.draggable text,
.dragging text {
  user-select: none;
  pointer-events: none;
}
