.embed {
  display: flex;
  flex-direction: column;
  position: relative; /* The expand button is placed relative to this */

  &.fullScreen {
    width: 100%;
    height: 100%;
    overflow: hidden;

    pre {
      padding-bottom: 5em;
      display: flex;
      justify-content: center;
    }
  }

  &:not(.fullScreen) {
    svg {
      border-radius: 20px 20px 0 0;
      aspect-ratio: 1 / 1;
    }

    pre {
      border-radius: 0 0 10px 10px;
    }
  }
}
