---
import Close from "../../components/CloseButton.astro";

export interface Props {
  items: { title: string; link: string }[];
  lesson: string;
}

const { items, lesson } = Astro.props as Props;
---

<div class="header">
  <div class="menu">
    <a href="/">Home</a>
    {items.map((item) => (<>
      {"  |  "}
      <a href={item.link}>{item.title}</a>  
    </>))}
  </div>
  <div class="menu">
    <a href={lesson}>Go to Lesson</a>
  </div>
  <Close />
</div>

<style scoped>
  .header {
    padding: 30px 100px 0 30px;
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: inline-block;
    background-color: var(--draggable-color);
    padding: 15px;
    border-radius: 15px;

    @media screen and (max-width: 700px) {
      &:first-of-type {
        display: none;
      }
    }
  }

  

  .header a {
    text-decoration: none;
    color: var(--helper-color);
    font-weight: bold;
    padding: 10px 9px 10px 9px;
  }
</style>
