<div class="header">
  <a href="/">SVG Tutorial</a>
  {"  |  "}
  <a href="/arc">Arc</a>
  {"  |  "}
  <a href="/cubic-bezier">Cubic Bezier</a>
  {"  |  "}
  <a href="/quadratic-bezier">Quadratic Bezier</a>
</div>

<style>
  .header {
    height: 60px;
    padding: 20px;
    box-sizing: border-box;
  }

  .header a {
    text-decoration: none;
    color: #ff0050;
    font-size: 1.1em;
    padding: 10px 9px 10px 9px;
  }
</style>
