@mixin highlight-code($embed, $id, $highlights) {  
    #embed#{$embed}:has(#control-#{$id}:hover) {
      pre.code *:not(.value-description) {
        color: gray;
    
        @each $highlight, $align in $highlights {
          #value-#{$highlight} {
            color: black;
      
            &::before {
              opacity: 1;
            }

            .value-description {
              display: block;

              @if $align == "left" {
                right: 5px;
              } @else if $align == "right" {
                left: 5px;
              } @else {
                // Center
                left: 50%;
                transform: translate(-50%, 0);
              }
            }
          }
        }
      }
    }
  }

  @mixin highlight-control($embed, $id, $drag) {
    #embed#{$embed}:has(#value-#{$id}:hover) {
      #control-#{$id} {
        @if $drag {
          fill: var(--draggable-hover-color);

          text {
            fill: var(--draggable-text-hover-color);
          }

          .arrowHead {
            fill: var(--draggable-icon-hover-color);
          }

          .arrowLine {
            stroke: var(--draggable-icon-hover-color);
            stroke-width: 2px;
          }
        } @else {
          stroke: var(--curve-alternative-hover-color);
        }
      }

      pre.code {
        *:not(.value-description) {
          color: gray;
        }
      
        #value-#{$id} {
          color: black;
    
          &::before {
            opacity: 1;
          }

          .value-description {
            display: block;

            // Center
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }