.editor-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editor-input:not([type="range"], :is(textarea)) {
  border: 1px solid #ccc;
  width: 50px;
}

.editor-input.long {
  width: 250px;
}

.editor-input:not([type="range"]),
.editor-radio {
  padding: 10px;
}

.editor-input[type="color"] {
  padding: 0;
  border: 1px solid #ccc;
  width: 37.5px;
  height: 37.5px;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
  }

  & + .editor-input {
    width: 120px;
  }
}

.editor-input[type="radio"] {
  display: none;
}

.editor-radio {
  border: 1px solid #ccc;
  min-width: 50px;
  text-align: center;
  cursor: pointer;

  &.selected {
    background-color: #f0f0f0;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.editor-input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

textarea.editor-input {
  width: 255px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea.editor-input + button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}
