---
import HideIcon from "../common/HideIcon.astro";
export interface Props {
  curve?: boolean;
}

const { curve } = Astro.props as Props;
---

<div class:list={["note", { curve }]}>
  <slot />
  <HideIcon />
</div>

<style>
  .note {
    padding: 1.5em 2.5em 1.5em 1.5em;
    border: 4px solid black;
    border-radius: 5px;
    margin: 1em;
    background-color: white;

    line-height: 1.5em;

    position: fixed;
    bottom: 10px;
    left: 10px;
    width: fit-content;
    max-width: 650px;

    p {
      margin: 0;
    }
  }

  .curve {
    background-color: rgb(255 255 255 / 0.7);
    bottom: 240px;
    width: 300px;
  }
</style>

<style is:global lang="scss">
  @import "./note-animation";

  @include set-up-notes("html", 3);
  @include set-up-notes("svg", 2);
  @include set-up-notes("circle", 5);
  @include set-up-notes("rect", 2);
  @include set-up-notes("diagram", 2);
  @include set-up-notes("path", 1);
  @include set-up-notes("hamburger", 2);
  @include set-up-notes("fullscreen", 1);
  @include set-up-notes("sun", 4);
  @include set-up-notes("windmill", 3);
  @include set-up-notes("clock", 1);
  // Smile
  @include set-up-notes("quadratic-bezier", 1);
  @include set-up-notes("cubic-bezier", 1);
  @include set-up-notes("connection", 1);
  @include set-up-notes("arc", 1);
</style>
