---
export interface Props {
  start: number;
  slides?: number;
  code?: boolean;
}

const { start, slides = 1, code } = Astro.props as Props;

const background = code ? "#24292e" : "transparent";
---

<div class="slide-container">
  <div class="slide-content">
    <slot />
  </div>
  {
    Array.from({ length: slides }).map((_, slide) => (
      <div class="slide-snapper">Slide {start + slide}</div>
    ))
  }
</div>

<style define:vars={{ background, slides }} lang="scss">
  .slide-container {
    width: 100vw;
    height: calc(var(--slides) * 100vh);
    box-sizing: border-box;

    background-color: var(--background);

    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
  }

  .slide-content {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide-container:nth-of-type(3) {
    .slide-content {
      overflow-x: hidden;
    }
  }

  @for $i from 1 to 33 {
    .slide-container:nth-of-type(#{$i}) {
      view-timeline: --container-#{$i} block;
    }
  }

  .slide-snapper {
    color: transparent;
    /* color: pink; */
    /* outline: 1px solid teal; */
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    pointer-events: none;

    position: relative;
    top: -100vh;

    scroll-snap-align: center;
  }
</style>
