---
import Slide from "./Slide.astro";
import ExamplesHeader from "../markdown/examples/ExamplesHeader.astro";
---

<Slide>
  <div class="slide-header">
    <ExamplesHeader title="SVG Tutorial" subtitle="Summary" />
    <svg width="80" height="20" viewBox="0 0 80 20">
      <path d="M 5 5 L 40 15 L 75 5"></path>
    </svg>
  </div>
</Slide>

<style>
  .slide-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;

    .header-container {
      max-width: 60vw;
    }

    .header-grid {
      margin: 0;
    }
  }

  svg {
    position: absolute;
    opacity: 0;

    stroke: #8c8c8c;
    stroke-width: 10;
    stroke-linecap: round;
    fill: none;

    animation: scroll-indicator-reveal 1s 2s ease-out forwards;
  }

  @keyframes scroll-indicator-reveal {
    0% {
      opacity: 0;
      bottom: 20px;
    }
    100% {
      opacity: 1;
      bottom: 10px;
    }
  }
</style>
