---
import Slide from "./Slide.astro";
---

<Slide start={19} slides={4}>
  <div class="slide-sun"><slot /></div>
</Slide>

<style is:global lang="scss">
  $container: 10;
  $slides: 4;

  @import "animation";

  .slide-sun .svg-container {
    @include animation(left, [275px, 0]);
  }

  .slide-sun .svg-viewbox-values {
    @include animation(opacity, [0, 1]);
  }

  .slide-sun .svg-container svg {
    @include animation(border-color, [transparent, gray]);
  }

  .slide-sun .svg-base > g:not(:nth-of-type(1)) {
    @include animation(opacity, [1, 0, 1]);
  }

  .slide-sun .svg-base > use {
    @include animation(opacity, [1, 0, 0, 1]);
  }

  // HTML Code
  .slide-sun pre:nth-of-type(1) {
    @include animations(
      (
        opacity: 0 1,
        top: 5 5 0,
      )
    );
  }

  // CSS Code
  .slide-sun pre:nth-of-type(2) {
    @include animation(opacity, [0, 0, 1]);
  }

  // Code lines before
  .slide-sun pre:nth-of-type(1) .line:nth-child(1),
  .slide-sun pre:nth-of-type(1) .line:nth-child(2) {
    @include animation(top, [4, 4, 4, 0]);
  }

  // Code line for the path element
  .slide-sun pre:nth-of-type(1) .line:nth-child(3) {
    @include animations(
      (
        opacity: 0 0 1,
        top: 4 4 4 0,
      )
    );
  }

  // Code lines for the use elements
  .slide-sun pre:nth-of-type(1) .line:nth-child(4),
  .slide-sun pre:nth-of-type(1) .line:nth-child(5),
  .slide-sun pre:nth-of-type(1) .line:nth-child(6),
  .slide-sun pre:nth-of-type(1) .line:nth-child(7),
  .slide-sun pre:nth-of-type(1) .line:nth-child(8),
  .slide-sun pre:nth-of-type(1) .line:nth-child(9),
  .slide-sun pre:nth-of-type(1) .line:nth-child(10) {
    @include animation(opacity, [0, 0, 0, 1]);
  }

  // Code lines after
  .slide-sun pre:nth-of-type(1) .line:nth-child(11) {
    @include animation(top, [-4, -4, -3, 0]);
  }
</style>
