---
import Slide from "./Slide.astro";
---

<Slide container="diagram" slides={2}>
  <div class="slide-diagram" data-track-id="slide-diagram">
    <slot />
  </div>
</Slide>

<style is:global lang="scss">
  $container: "diagram";
  $slides: 2;

  @import "animation";

  .slide-diagram .markdown-example svg {
    @include animations(
      (
        left: 240px 0,
        transform: scale(2) scale(1),
        border-color: transparent gray,
      )
    );
  }

  // Code blocks
  .slide-diagram .markdown-example > *:has([data-language="js"]) {
    @include animation(opacity, [0, 1]);
  }
</style>
