---
import Slide from "./Slide.astro";
---

<Slide container="connection">
  <div class="slide-connection" data-track-id="slide-connection"><slot /></div>
</Slide>

<style is:global>
  .slide-connection {
    display: flex;
    gap: 30px;

    .markdown-example {
      display: flex;
      flex-direction: column;
    }
  }
</style>
