---
import Slide from "./Slide.astro";
---

<Slide start={23} slides={3}>
  <div class="slide-windmill"><slot /></div>
</Slide>

<style is:global lang="scss">
  $container: 11;
  $slides: 3;

  @import "animation";

  .slide-windmill .markdown-example svg {
    @include animation(left, [275px, 0]);

    border-color: transparent;
    block-size: fit-content;
  }

  // HTML Code
  .slide-windmill pre:nth-of-type(1) {
    @include animation(opacity, [0, 1, 0]);
    top: top(9.5);
  }

  // CSS Code
  .slide-windmill pre:nth-of-type(2) {
    @include animations(
      (
        opacity: 0 0 1,
        pointer-events: none none auto,
      )
    );
    top: top(-12);
  }
</style>
