---
import Slide from "./Slide.astro";
---

<Slide container="rect" slides={2}>
  <div class="slide-rect" data-track-id="slide-rect"><slot /></div>
</Slide>

<style is:global lang="scss">
  $container: "rect";
  $slides: 2;

  @import "animation";

  .slide-rect {
    @include animation(pointer-events, [none, auto]);
  }

  .slide-rect .svg-container {
    @include animation(left, [160px, 0]);
  }

  .slide-rect .svg-viewbox-values {
    @include animation(opacity, [0, 1]);
  }

  .slide-rect .svg-container svg {
    @include animations(
      (
        transform: scale(2) scale(1),
        border-color: transparent gray,
      )
    );
  }

  // Code blocks
  .slide-rect pre {
    @include animation(opacity, [0, 1]);
  }
</style>
