---
import Slide from "./Slide.astro";
import ExamplesHeader from "../markdown/examples/ExamplesHeader.astro";
import ScrollIndicator from "../common/ScrollIndicator.astro";
---

<Slide>
  <div class="slide-header">
    <ExamplesHeader title="SVG Tutorial" subtitle="Summary" />
    <ScrollIndicator />
  </div>
</Slide>

<style>
  .slide-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    .header-container {
      max-width: 60vw;
    }

    .header-grid {
      margin: 0;
    }
  }
</style>
