---
import Slide from "./Slide.astro";
---

<Slide slides={5}>
  <div class="slide-circle"><slot /></div>
</Slide>

<style is:global lang="scss">
  $container: 4;
  $slides: 5;

  @import "animation";

  .slide-circle {
    @include animation(pointer-events, [none, auto]);
  }

  .slide-circle .svg-container {
    @include animation(left, [160px, 0]);
  }

  .slide-circle .svg-viewbox-values {
    @include animation(opacity, [0, 1]);
  }

  .slide-circle .svg-container svg {
    @include animations(
      (
        transform: scale(2) scale(1),
        border-color: transparent gray,
      )
    );
  }

  // SVG
  .slide-circle .svg-base > g:nth-of-type(1) {
    @include animation(opacity, [1, 1, 0]);
  }

  .slide-circle .svg-base > g:nth-of-type(2) {
    @include animation(opacity, [0, 0, 1, 0]);
  }

  .slide-circle .svg-base > g:nth-of-type(3) {
    @include animation(opacity, [0, 0, 0, 1]);
  }

  // Code blocks
  .slide-circle pre:nth-of-type(1) {
    padding: 0 52px 0 26px;
    @include animations(
      (
        opacity: 0 1,
        top: 5 5 5 5 0,
      )
    );
  }

  .slide-circle pre:nth-of-type(2) {
    @include animation(opacity, [0, 0, 0, 0, 1]);
  }

  // Code lines before
  .slide-circle pre:nth-of-type(1) .line:nth-child(1),
  .slide-circle pre:nth-of-type(1) .line:nth-child(2),
  .slide-circle pre:nth-of-type(1) .line:nth-child(3),
  .slide-circle pre:nth-of-type(1) .line:nth-child(4),
  .slide-circle pre:nth-of-type(1) .line:nth-child(5),
  .slide-circle pre:nth-of-type(1) .line:nth-child(6),
  .slide-circle pre:nth-of-type(1) .line:nth-child(7),
  .slide-circle pre:nth-of-type(1) .line:nth-child(8),
  .slide-circle pre:nth-of-type(1) .line:nth-child(9),
  .slide-circle pre:nth-of-type(1) .line:nth-child(10) {
    @include animation(top, [2.5, 2.5, 2, 1, 2]);
  }

  // Code line of the fill property
  .slide-circle pre:nth-of-type(1) .line:nth-child(10) {
    @include animation(opacity, [0, 0, 1, 0]);
    top: top(2);
  }

  // Code line of the stroke properties
  .slide-circle pre:nth-of-type(1) .line:nth-child(11),
  .slide-circle pre:nth-of-type(1) .line:nth-child(12),
  .slide-circle pre:nth-of-type(1) .line:nth-child(13) {
    @include animation(opacity, [0, 0, 0, 1, 0]);
    top: top(0);
  }

  // Code line of the class property
  .slide-circle pre:nth-of-type(1) .line:nth-child(14) {
    @include animation(opacity, [0, 0, 0, 0, 1]);
    top: top(-2);
  }

  // Code lines after
  .slide-circle pre:nth-of-type(1) .line:nth-child(15),
  .slide-circle pre:nth-of-type(1) .line:nth-child(16) {
    @include animation(top, [-2.5, -2.5, -2, -1, -2]);
  }
</style>
