---
import Slide from "./Slide.astro";
---

<Slide slides={2}>
  <div class="slide-clock" data-track-id="slide-smile">
    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <circle
        cx="0"
        cy="0"
        r="90"
        fill="transparent"
        stroke="black"
        stroke-width="10"></circle>
      <ellipse cx="-25" cy="-25" rx="10" ry="15"></ellipse>
      <ellipse cx="25" cy="-25" rx="10" ry="15"></ellipse>
      <path
        fill="none"
        stroke="black"
        stroke-width="10"
        stroke-linecap="round"
        d="M -40,30 Q 0,30 40,30"></path>
    </svg>
  </div>
</Slide>

<style lang="scss">
  $container: 13;
  $slides: 2;

  @import "animation";

  .slide-clock {
    path {
      @include animation(
        d,
        [path("M -40,30 Q 0,30 40,30"),
        path("M -40,30 Q 0,60 40,30")]
      );
    }
  }
</style>
