---
import Slide from "./Slide.astro";
---

<Slide slides={3} code={true}>
  <div class="slide1">
    <slot />
  </div>
</Slide>

<style is:global lang="scss">
  $container: 2;
  $slides: 3;

  @import "animation";

  // Code lines for React
  .slide1 pre .line:nth-child(1),
  .slide1 pre .line:nth-child(8) {
    @include animation(opacity, [0, 0, 1]);
  }

  // Code lines for HTML
  .slide1 pre .line:nth-child(2),
  .slide1 pre .line:nth-child(3),
  .slide1 pre .line:nth-child(7) {
    @include animation(opacity, [0, 1]);
  }
</style>
