---
import Layout from "../layouts/Layout.astro";
import App from "../components/App.astro";

export const prerender = true;
---

<Layout title="Welcome to Astro.">
  <main>
    <App />
  </main>
</Layout>
