---
import Head from "../layouts/Head.astro";
import Advent from "../components/home/Advent.astro";
import TableOfContents from "../components/home/TableOfContents.astro";
import SVGElements from "../components/home/SVGElements.astro";
import PathSegments from "../components/home/PathSegments.astro";
import Videos from "../components/home/Videos.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/fredoka-one";
import "../layouts/SVGCurves.css";

const title = "SVG Tutorial - Learn how to code images in HTML with SVG";
const description =
  "In this advent calendar-themed tutorial, you will learn the fundamentals of Scalable Vector Graphics (SVG), from the basics to advanced concepts like animation and interactivity.";

export const prerender = true;
---

<!doctype html>
<html lang="en">
  <Head
    title={title}
    description={description}
    image={"https://svg-tutorial.com/image.png"}
  />

  <body>
    <main>
      <Advent />
    </main>

    <div class="things">
      <TableOfContents />
      <SVGElements />
      <PathSegments />
      <Videos />
    </div>
    <div class="footer-container" data-track-id="Footer">
      <Footer dark={true} />
    </div>
  </body>
</html>

<style is:global>
  body {
    background-color: #151515;
    margin: 0;
  }

  a,
  a:visited {
    color: inherit;
  }

  * {
    box-sizing: border-box;
  }
</style>

<style>
  .things {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 50px 20px;

    font-size: 0.8em;
  }

  .footer-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
</style>
