---
import Share from "../ShareThisSite.astro";
---

<footer data-track-id='Footer'}>
    <div style="text-align: center; text-wrap: balance;">
        SVG Tutorial made by <a
        href="https://bio.link/hunor"
        target="_blank"
        rel="noopener">Hunor Márton Borbély</a
        > in 2023
    </div>
    <div style="display: flex; align-items: center; gap: 40px">
        <Share />
        <a
        href="https://www.buymeacoffee.com/hunor"
        target="_blank"
        rel="noopener">Buy Me a Coffee</a
        >
    </div>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    footer > * {
        padding: 20px 0 20px 0;
    }
</style>