---
import { getCollection } from "astro:content";
const entries = (await getCollection("svg")).sort(
  (a, b) => a.data.day - b.data.day
);

const groups: Array<{
  category: string;
  start: number;
  entries: typeof entries;
}> = [];

for (let entry of entries) {
  if (entry.data.category !== groups[groups.length - 1]?.category) {
    groups.push({
      category: entry.data.category,
      start: entry.data.day,
      entries: [],
    });
  }
  groups[groups.length - 1].entries.push(entry);
}

console.log(groups);
---

<nav id="table-of-contents">
  <h2>Table of Contents</h2>
  <div class="content">
    <ul>
      <li class="summary">
        <a href="/summary"><h3>TLDR: SVG Tutorial Summary</h3></a>
      </li>
      {
        groups.map((group) => (
          <li class="group">
            <h3>{group.category}</h3>
            <ol start={group.start}>
              {group.entries.map((entry) => (
                <li>
                  <a href={`/svg/${entry.slug}`}>{entry.data.title}</a>
                </li>
              ))}
            </ol>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  nav {
    color: white;
    opacity: 0.8;
    font-family: "Source Sans 3 Variable", sans-serif;
    padding: 20px;
    max-width: 770px;
  }

  h2 {
    padding-left: 40px;
    padding-bottom: 1.5em;
  }

  @media (min-width: 770px) {
    .content {
      columns: 2;
      gap: 40px;
    }
  }

  nav a {
    display: block;
    text-decoration: none;
    line-height: 1.8em;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .summary h3 {
    color: #fcba29;
    margin-top: 0;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  ol {
    margin-top: 0;
  }

  li {
    break-inside: avoid-column;
  }

  .group {
    margin-top: 20px;

    ol {
      padding-left: 20px;
    }
  }
</style>
