<div class="unsupported">
  <div class="content">
    <svg width="200" height="200" viewBox="-100 -100 200 200">
      <ellipse cx="-25" cy="-25" rx="10" ry="15"></ellipse>
      <ellipse cx="25" cy="-25" rx="10" ry="15"></ellipse>
      <path
        d="M -40,30 Q 0,20 40,30"
        fill="none"
        stroke="black"
        stroke-width="10"
        stroke-linecap="round"></path>
    </svg>
    <p>
      This page cannot be displayed because your browser does not support
      scroll-driven animations with CSS.
    </p>
    <p>Open this page in Chrome on desktop.</p>
    <slot name="fallback" />
    <a href="/">Back to Home</a>
  </div>
</div>
<div class="supported">
  <slot />
</div>

<style>
  .unsupported {
    display: flex;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    font-family: "Lato", sans-serif;
    max-width: 100%;
    overflow: hidden;

    .content {
      max-width: min(500px, 100%);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      overflow-x: none;
      line-height: 1.5em;
      text-align: left;

      p {
        align-self: start;

        @media screen and (min-width: 500px) {
          align-self: center;
          text-align: center;
          text-wrap: balance;
        }
      }

      svg {
        margin: 16px 0 0 0;
      }

      a {
        margin: 20px 0 25px 0;
      }
    }
  }

  .supported {
    display: none;
  }

  @supports (animation-timeline: scroll()) {
    .unsupported {
      display: none;
    }

    .supported {
      display: block;
    }
  }
</style>
