---
import { Image } from "astro:assets";
import gorillas from "../assets/Gorillas.jpeg";
---

<div class="end">
  <h3>Congratulations!</h3>
  <p>You reached the end of this tutorial series.</p>
  <p>
    <a
      href={`https://twitter.com/intent/tweet?text=I just learned how code SVGs in HTML by @HunorBorbely: https://svg-tutorial.com`}
      target="_blank"
      rel="noopener"
    >
      Share this site
    </a>{" "}
    , follow me on X{" "}
    <a href="https://twitter.com/@HunorBorbely" target="_blank" rel="noopener">
      @HunorBorbely
    </a>
    for more or <a
      href="https://www.buymeacoffee.com/hunor"
      target="_blank"
      rel="noopener">Buy Me a Coffee</a
    > if you like.
  </p>
  <p>
    Also, check out my
    <a
      href="https://www.youtube.com/@HunorMartonBorbely"
      target="_blank"
      rel="noopener"
    >
      YouTube Channel
    </a>
    where in the next video we are going to cover how to recreate the classic game
    Gorillas with JavaScript and HTML Canvas.
  </p>
  <a
    href="https://www.youtube.com/@HunorMartonBorbely"
    target="_blank"
    rel="noopener"
  >
    <Image src={gorillas} alt="Up Next on YouTube" width={550} quality={100} />
  </a>
</div>

<style>
  .end {
    margin-top: 50px;
    padding: 40px 0;
    border-top: 4px solid lightgray;
  }

  .end a {
    text-decoration: none;
  }

  .end img {
    max-width: 100%;
    height: auto;
  }
</style>
