<button id="fullscreen">
  <svg width="30" height="30" viewBox="0 0 30 30">
    <path
      id="enter-fullscreen"
      stroke="white"
      d="
        M 12, 4 L 4,4 L 4, 12
        M 18, 4 L 26,4 L 26, 12
        M 26, 18 L 26,26 L 18, 26
        M 12, 26 L 4,26 L 4, 18"
    ></path>
    <path
      id="exit-fullscreen"
      stroke="transparent"
      d="
        M 10, 2 L 10,10 L 2, 10
        M 20, 2 L 20,10 L 28, 10
        M 28, 20 L 20,20 L 20, 28
        M 10, 28 L 10,20 L 2, 20"
    ></path>
  </svg>
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const fullscreenButton = document.getElementById("fullscreen");
    const enterFullscreen = document.getElementById("enter-fullscreen");
    const exitFullscreen = document.getElementById("exit-fullscreen");

    fullscreenButton?.addEventListener("click", function () {
      if (enterFullscreen && exitFullscreen) {
        if (!document.fullscreenElement) {
          document.documentElement.requestFullscreen();
        } else {
          document.exitFullscreen();
        }
      }
    });

    window.addEventListener("fullscreenchange", function () {
      if (enterFullscreen && exitFullscreen) {
        if (document.fullscreenElement) {
          enterFullscreen.setAttribute("stroke", "transparent");
          exitFullscreen.setAttribute("stroke", "white");
        } else {
          enterFullscreen.setAttribute("stroke", "white");
          exitFullscreen.setAttribute("stroke", "transparent");
        }
      }
    });
  });
</script>

<style>
  button {
    all: unset;
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 110px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: none;
      stroke-width: 4;
    }

    &:hover {
      background-color: rgb(108, 108, 108);
    }
  }
</style>
