---
export interface Props {
  slug: string;
  title: string;
}

const { slug, title } = Astro.props as Props;
---

<div class="center">
  <a
    class="twitter-share-button"
    href={`https://twitter.com/intent/tweet?text=I just learned ${title} by @HunorBorbely: https://svg-tutorial.com/svg/${slug}`}
    target="_blank"
    rel="noopener"
  >
    Share this Article</a
  >
</div>

<style>
  .center {
    display: flex;
    justify-content: center;
  }

  .twitter-share-button {
    text-decoration: none;
    padding: 20px;
  }

  .twitter-share-button:hover {
    text-decoration: underline;
  }
</style>
