---
import SnowGlobeContent from "./SnowGlobeContent.astro";

export interface Props {
  id: string;
  title?: string;
  size: number;
}

const { id, title, size } = Astro.props as Props;
---

<svg width={200 * size} height={200 * size} viewBox="-100 -100 200 200">
  <title>{title}</title>
  <clipPath id={`snow-globe-${id}`}>
    <circle cx="0" cy="0" r="80"></circle>
  </clipPath>

  <g clip-path={`url(#snow-globe-${id})`}>
    <SnowGlobeContent />
  </g>

  <circle r="80" fill="none" stroke="gray" stroke-width="2"></circle>
</svg>
