---
import { getCollection } from "astro:content";
const entries = (await getCollection("svg")).sort(
  (a, b) => a.data.day - b.data.day
);
---

<nav>
  <h2>Table of Contents</h2>
  <ol>
    {
      entries.map((entry) => (
        <li>
          <a href={`/svg/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ol>
</nav>

<style>
  nav {
    color: white;
    opacity: 0.8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    padding: 20px;
    max-width: 770px;
  }

  h2 {
    padding-left: 40px;
    font-size: 1.17em;
  }

  @media (min-width: 770px) {
    ol {
      columns: 2;
    }
  }

  nav a {
    display: block;

    text-decoration: none;
    line-height: 1.8em;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>
