---
import { getCollection } from "astro:content";
const entries = (await getCollection("svg")).sort(
  (a, b) => a.data.day - b.data.day
);
---

<nav>
  <h2>Table of Contents</h2>
  <div class="content">
    <ul>
      <li>
        <a href="/summary">TLDR: SVG Tutorial Summary</a>
      </li>
    </ul>
    <ol>
      {
        entries.map((entry) => (
          <li>
            <a href={`/svg/${entry.slug}`}>{entry.data.title}</a>
          </li>
        ))
      }

      <li>
        <a href="/arc">Bonus: Interactive demo for arcs and curves</a>
      </li>
    </ol>
  </div>
</nav>

<style>
  nav {
    color: white;
    opacity: 0.8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    max-width: 770px;
  }

  h2 {
    padding-left: 40px;
  }

  @media (min-width: 770px) {
    .content {
      columns: 2;
    }
  }

  nav a {
    display: block;
    text-decoration: none;
    line-height: 1.8em;
  }

  nav a:hover {
    text-decoration: underline;
  }

  ul {
    margin: 0;
    list-style: square;
    list-style: url("data:image/svg+xml,<svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'><rect fill='%23fcba29' width='100%' height='100%' /></svg>");
    color: #fcba29;
    font-weight: bold;
  }

  ol {
    margin-top: 0;
  }
</style>
