---
---

<nav>
  <h3>Table of Contents</h3>
  <ol>
    <li>
      <a href="/svg/basic-shapes" target="_blank" rel="noopener"
        >How to Draw Basic Shapes with SVG</a
      >
    </li>

    <li>
      <a href="/svg/polygon" target="_blank" rel="noopener"
        >How to Build a Christmas Tree with SVG</a
      >
    </li>

    <li>
      <a href="/svg/gingerbread-figure" target="_blank" rel="noopener"
        >How to Make a Gingerbread Figure with SVG</a
      >
    </li>

    <li>
      <a href="/svg/house" target="_blank" rel="noopener"
        >How to Build a House with SVG</a
      >
    </li>

    <li>
      <a href="/svg/clip-path" target="_blank" rel="noopener"
        >How to use clip-path with SVG</a
      >
    </li>

    <li>
      <a href="/svg/basic-path" target="_blank" rel="noopener"
        >How to Draw a Basic Path with SVG</a
      >
    </li>

    <li>
      <a href="/svg/transform" target="_blank" rel="noopener"
        >How to Draw a Star with SVG</a
      >
    </li>

    <li>
      <a href="/svg/use" target="_blank" rel="noopener"
        >How to Draw a Snowflake with SVG</a
      >
    </li>

    <li>
      <a href="/svg/forest" target="_blank" rel="noopener"
        >How to Draw a Forest with SVG</a
      >
    </li>

    <li>
      <a href="/svg/gradient" target="_blank" rel="noopener"
        >How to Use Gradients with SVG</a
      >
    </li>

    <li>
      <a href="/svg/quadratic-bezier" target="_blank" rel="noopener"
        >How to Draw Quadratic Bézier Curves with SVG</a
      >
    </li>

    <li>
      <a href="/svg/cubic-bezier" target="_blank" rel="noopener"
        >How to Draw Cubic Bézier Curves with SVG</a
      >
    </li>

    <li>
      <a href="/svg/bell" target="_blank" rel="noopener"
        >How to Draw a Bell with SVG</a
      >
    </li>

    <li>
      <a href="/svg/arc" target="_blank" rel="noopener"
        >How to Draw an Arc with SVG</a
      >
    </li>

    <li>
      <a href="/svg/ribbon" target="_blank" rel="noopener"
        >How to Draw a Ribbon with SVG</a
      >
    </li>

    <li>
      <a href="/svg/bear" target="_blank" rel="noopener"
        >How to Draw a Bear with SVG</a
      >
    </li>

    <li>
      <a href="/svg/text-path" target="_blank" rel="noopener"
        >How to Draw Text Along a Path with SVG</a
      >
    </li>

    <li>
      <a href="/svg/path-based-animation" target="_blank" rel="noopener"
        >How to Animate Along a Path with SVG</a
      >
    </li>

    <li>
      <a href="/svg/animation-on-hover" target="_blank" rel="noopener"
        >How to Add Animation on Hover of an SVG element</a
      >
    </li>

    <li>
      <a href="/svg/snowing" target="_blank" rel="noopener"
        >How to Animate a Snowing effect with SVG and CSS</a
      >
    </li>

    <li>
      <a href="/svg/background-pattern" target="_blank" rel="noopener"
        >How to Create Background Patterns with SVG and CSS</a
      >
    </li>

    <li>
      <a href="/svg/clock" target="_blank" rel="noopener"
        >How to Draw a Clock with SVG and JavaScript that Shows the Actual Time</a
      >
    </li>

    <li>
      <a href="/svg/interaction" target="_blank" rel="noopener"
        >How to Add Interaction to SVG elements with JavaScript</a
      >
    </li>

    <li>
      <a href="/svg/data-driven-diagram" target="_blank" rel="noopener"
        >How to Generate an SVG Diagram from JavaScript</a
      >
    </li>

    <li>
      <a href="/svg/multiple-components" target="_blank" rel="noopener"
        >How to Break Down an SVG Image into Multiple Components</a
      >
    </li>
  </ol>
</nav>

<style>
  nav {
    color: white;
    opacity: 0.8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    padding: 20px;
    font-size: 0.8em;
    max-width: 770px;
  }

  h3 {
    padding-left: 40px;
  }

  @media (min-width: 770px) {
    ol {
      columns: 2;
    }
  }

  nav a {
    display: block;

    text-decoration: none;
    line-height: 1.8em;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>
