<div class="markdown-command"><slot /></div>

<style is:global>
  .markdown-command {
    display: flex;

    justify-content: center;
    box-sizing: border-box;
  }

  .markdown-command code {
    background-color: lightgray;
    padding: 20px;
  }
</style>
