<div class="markdown-final">
  <slot />
</div>

<style>
  .markdown-final {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  @media (max-width: 500px) {
    .markdown-final pre {
      width: 100%;
    }
  }
</style>
