---
import { getCollection } from "astro:content";

export interface Props {
  slug: string;
}

const { slug } = Astro.props as Props;

const entry = (await getCollection("svg")).find((entry) => entry.slug === slug);

if (!entry) return null;
---

<a href={entry.slug}>{entry.data.title}</a>

<style>
  a {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 1em;
    border-left: 5px solid #f0f0f0;
    margin: 1em 0;
  }

  a::before {
    content: "Prerequisite";
    font-weight: bold;
    color: #333;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    display: block;
  }
</style>
