---
import Summary from "../../layouts/Summary.astro";
import BrowserScrollSupport from "../../components/BrowserScrollSupport.astro";
import ScreenSizeCheck from "../../components/ScreenSizeCheck.astro";
import SnapContainer from "../../components/summary/SnapContainer.astro";
import Close from "../../components/CloseButton.astro";
import FullScreenButton from "../../components/FullScreenButton.astro";
import { Content } from "./_Content.mdx";
import ShowNote from "../../components/summary/ShowNote.astro";
---

<Summary>
  <BrowserScrollSupport>
    <ScreenSizeCheck>
      <Fragment slot="fallback">
        <h1>Or</h1>
        <p>Watch this summary as a video on YouTube:</p>
        <iframe
          width="400"
          height="225"
          src="https://www.youtube.com/embed/hZYaSGUbMds?si=sOE6cWBC8IDaOoba"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </Fragment>
      <SnapContainer>
        <Content />
        <Close />
        <FullScreenButton />
      </SnapContainer>
      <ShowNote />
    </ScreenSizeCheck>
  </BrowserScrollSupport>
</Summary>

<style is:global>
  :root {
    --line-height: 1.5em;
  }

  * {
    box-sizing: border-box;
  }

  code {
    padding: 0 5px 2px;
    background-color: lightgray;
    font-size: 1.2em;
    line-height: var(--line-height);
  }

  pre {
    color: white;
    padding: 2em;
    border-radius: 5px;
    max-width: 100%;
  }

  pre code {
    background-color: inherit;
    padding: 0;
  }

  iframe {
    max-width: 100%;
    border: 0;
  }
</style>
