---
import Summary from "../../layouts/Summary.astro";
import Popover from "../../layouts/Popover.astro";
import { Content } from "./_Content.mdx";
---

<Summary>
  <Popover transition="tldr">
    <div class="unsupported-browser">
      <div>
        <h1>Your browser does not support Scroll-driven Animations with CSS</h1>
        <p>
          This page heavily relies on scroll-driven animations and your browser
          does not support it yet. Open this page in Chrome on desktop.
        </p>
        <a href="/">Back to Home</a>
      </div>
    </div>
    <div class="snap-container">
      <Content />
    </div>
  </Popover>
</Summary>

<style is:global>
  :root {
    --line-height: 1.5em;
  }

  * {
    box-sizing: border-box;
  }

  .unsupported-browser {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    div {
      max-width: 500px;
    }
  }

  .snap-container {
    display: none;
  }

  @supports (animation-timeline: scroll()) {
    .unsupported-browser {
      display: none;
    }

    .snap-container {
      display: block;
      overflow: auto;
      width: 100vw;
      height: 100vh;
      scroll-snap-type: y mandatory;
    }

    code {
      padding: 0 5px 2px;
      background-color: lightgray;
      font-size: 1.2em;
      line-height: var(--line-height);
    }

    pre {
      color: white;
      padding: 2em;
      border-radius: 5px;
      max-width: 100%;
    }

    pre code {
      background-color: inherit;
      padding: 0;
    }
  }
</style>
