---
export interface Props {
  title?: string;
  size: number;
}

const { title, size } = Astro.props as Props;

const lightsOn = false;
---

<svg
  class="lights"
  width={400 * size}
  height={200 * size}
  viewBox="0 0 400 200"
>
  <title>{title}</title>
  <defs>
    <g id="bulb">
      <path d="M 0,0 Q 20 25 0 40 Q -20 25 0 0"></path>
      <rect x="-6" y="-1" width="12" height="10" rx="3" fill="#5F4C6C"></rect>
    </g>
  </defs>

  <path d="M 60 40 Q 130 50 200 40 Q 310 30 310 110"></path>
  <line x1="130" y1="85" x2="130" y2="45"></line>
  <line x1="230" y1="75" x2="230" y2="40"></line>
  <use
    class="b"
    href="#bulb"
    x="80"
    y="38"
    transform="rotate(5)"
    fill={lightsOn ? "#FFC05B" : "white"}></use>
  <use
    class="b"
    href="#bulb"
    x="130"
    y="85"
    fill={lightsOn ? "#F86285" : "white"}></use>
  <use
    class="b"
    href="#bulb"
    x="180"
    y="60"
    transform="rotate(-5)"
    fill={lightsOn ? "#03A8A8" : "white"}></use>
  <use
    class="b"
    href="#bulb"
    x="230"
    y="75"
    fill={lightsOn ? "#748CEF" : "white"}></use>

  <rect x="290" y="110" width="40" height="40" fill="lightgray"></rect>
  <circle class="button" cx="310" cy="130" r="15" fill="red"></circle>
</svg>

<script>
  document.addEventListener("astro:page-load", () => {
    let lightsOn = false;
    function eventHandler() {
      const bulbs = document.querySelectorAll(".b");
      console.log(bulbs);
      bulbs[0]?.setAttribute("fill", lightsOn ? "white" : "#FFC05B");
      bulbs[1]?.setAttribute("fill", lightsOn ? "white" : "#F86285");
      bulbs[2]?.setAttribute("fill", lightsOn ? "white" : "#03A8A8");
      bulbs[3]?.setAttribute("fill", lightsOn ? "white" : "#748CEF");
      bulbs[4]?.setAttribute("fill", lightsOn ? "white" : "#FFC05B");
      bulbs[5]?.setAttribute("fill", lightsOn ? "white" : "#F86285");
      bulbs[6]?.setAttribute("fill", lightsOn ? "white" : "#03A8A8");
      bulbs[7]?.setAttribute("fill", lightsOn ? "white" : "#748CEF");
      bulbs[8]?.setAttribute("fill", lightsOn ? "white" : "#FFC05B");
      bulbs[9]?.setAttribute("fill", lightsOn ? "white" : "#F86285");
      bulbs[10]?.setAttribute("fill", lightsOn ? "white" : "#03A8A8");
      bulbs[11]?.setAttribute("fill", lightsOn ? "white" : "#748CEF");
      lightsOn = !lightsOn;
    }

    document
      .querySelectorAll(".button")
      .forEach((button) => button.addEventListener("click", eventHandler));
  });
</script>

<style>
  .lights {
    fill: none;
    stroke: #5f4c6c;
    stroke-width: 2;
  }

  .lights .button {
    cursor: pointer;
  }
</style>
