---
export interface Props {
  title?: string;
  size: number;
}

const { title, size } = Astro.props as Props;
---

<svg width={200 * size} height={400 * size} viewBox="-100 -200 200 400">
  <title>{title}</title>
  <path
    d="
        M 50 120
        L 50 -80
        A 50 50 0 0 0 -50 -80"
    fill="none"
    stroke="black"
    stroke-width="45"
    stroke-linecap="round"></path>

  <path
    d="
        M 50 120
        L 50 -80
        A 50 50 0 0 0 -50 -80"
    fill="none"
    stroke="red"
    stroke-width="35"
    stroke-linecap="round"></path>

  <path
    d="
        M 50 120
        L 50 -80
        A 50 50 0 0 0 -50 -80"
    fill="none"
    stroke="white"
    stroke-width="35"
    stroke-dasharray="30 30"></path>
</svg>
