---
export interface Props {
  title?: string;
  size: number;
}

const { title, size } = Astro.props as Props;
---

<svg width={200 * size} height={200 * size} viewBox="0 0 200 200">
  <title>{title}</title>
  <circle cx="100" cy="120" r="70" fill="#D1495B"></circle>
  <circle cx="100" cy="25" r="12" fill="none" stroke="#F79257" stroke-width="2"
  ></circle>
  <rect x="82.5" y="35" width="35" height="20" fill="#F79257"></rect>
</svg>
