---
export interface Props {
  title?: string;
  size: number;
}

const { title, size = 1 } = Astro.props as Props;
---

<svg width={200 * size} height={200 * size} viewBox="-100 -100 200 200">
  <title>{title}</title>
  <path
    id="bulb"
    d="
      M -30 20 
      A 50 50 0 1 1 30 20 
      Q 20 30 20 50
      L -20 50
      Q -20 30 -30 20"
    fill="gold"
    stroke="black"
    stroke-width="10"
    stroke-linejoin="round"></path>
  <path
    d="
      M -30 -20 
      A 30 30 0 0 1 0 -50"
    fill="none"
    stroke="black"
    stroke-width="10"
    stroke-linecap="round"></path>
  <path
    d="
      M -18 62 
      L 18 62 
      M -15 75 
      L 15 75"
    stroke="black"
    stroke-width="10"
    stroke-linecap="round"></path>
</svg>

<script>
  document.addEventListener("astro:page-load", () => {
    let lightsOn = true;
    const bulbs = document.querySelectorAll("#bulb");
    function eventHandler() {
      bulbs.forEach((bulb) =>
        bulb.setAttribute("fill", lightsOn ? "transparent" : "gold")
      );
      lightsOn = !lightsOn;
    }

    bulbs.forEach((button) => button.addEventListener("click", eventHandler));
  });
</script>

<style>
  #bulb {
    cursor: pointer;
  }
</style>
