---
export interface Props {
  title?: string;
  size: number;
}

const { title, size } = Astro.props as Props;
---

<svg width={200 * size} height={200 * size} viewBox="-100 -100 200 200">
  <title>{title}</title>

  <path
    id="curve"
    d="M -80, 40 Q 0, 20 80, 40"
    fill="transparent"
    stroke="red"
    stroke-width="2"></path>

  <text
    font-family="Arial"
    font-size="120"
    font-weight="bold"
    fill="white"
    stroke="black"
    stroke-width="2"
    letter-spacing="-20"
  >
    <textPath href="#curve">svg</textPath>
  </text>
</svg>
