---
export interface Props {
  title?: string;
  size: number;
}

const { title, size } = Astro.props as Props;
---

<svg width={200 * size} height={400 * size} viewBox="-100 -200 200 400">
  <title>{title}</title>
  <path
    d="
        M 0 -80
        Q 5 -75 0 -70
        Q -10 -65 0 -60
        Q 15 -55 0 -50
        Q -20 -45 0 -40
        Q 25 -35 0 -30
        Q -30 -25 0 -20
        Q 35 -15 0 -10
        Q -40 -5 0 0
        Q 45 5 0 10
        Q -50 15 0 20
        Q 55 25 0 30
        Q -60 35 0 40
        Q 65 45 0 50
        Q -70 55 0 60
        Q 75 65 0 70
        Q -80 75 0 80
        Q 85 85 0 90
        Q -90 95 0 100
        Q 95 105 0 110
        Q -100 115 0 120
        L 0 140
        L 20 140
        L -20 140"
    fill="none"
    stroke="#0C5C4C"
    stroke-width="5"></path>
</svg>
