---
export interface Props {
  title?: string;
  size: number;
}

const { title, size } = Astro.props as Props;
---

<svg
  width={200 * size}
  height={400 * size}
  viewBox="-100 -200 200 400"
  fill="rgba(0, 0, 0, 0.5)"
>
  <title>{title}</title>
  <defs> </defs>
  <g transform="translate(0, -50)">
    <g id="windmill-head">
      <circle r="8"></circle>
      <path id="arm" d="M -7 -20 C -7 -10 7 -10 7 -20 L 2 -80 L -2 -80"></path>
      <use href="#arm" transform="rotate(+120)"></use>
      <use href="#arm" transform="rotate(-120)"></use>
    </g>
  </g>
  <path d="M -7 100 L 7 100 L 3 -35 L -3 -35"></path>
</svg>

<style>
  #windmill-head {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
