<input type="radio" id="hide" name="visibility-toggle" hidden />
{/* Name has to match the radio name in ShowIcon */}
<label for="hide">
    <svg width="20" height="20">
        <path
            d="M 5 7.5 L 10 12.5 L 15 7.5"
            stroke="gray"
            stroke-width="2"
            fill="none">
        </path>
    </svg>
</label>

<style>
label {
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>