<div class="scroll-indicator">
    <svg width="80" height="20" viewBox="0 0 80 20">
        <path d="M 5 5 L 40 15 L 75 5"></path>
    </svg>
</div>

<style>
.scroll-indicator {
    position: absolute;
    pointer-events: none;
    top: 100vh;

    width: 100%;
    display: flex;
    justify-content: center;
}

svg {
    position: absolute;
    opacity: 0;

    stroke: #8c8c8c;
    stroke-width: 10;
    stroke-linecap: round;
    fill: none;

    animation: show-scroll-indicator 1s 2s ease-out forwards;
}

@keyframes show-scroll-indicator {
    0% {
      opacity: 0;
      bottom: 50px;
    }
    100% {
      opacity: 1;
      bottom: 30px;
    }
}
</style>