---
import Popover from "./Popover.astro";

export interface Props {
  day: number;
}

const { day } = Astro.props as Props;
---

<Popover day={day}>
  <div class="layout">
    <slot name="header" />
    <slot />
  </div>
</Popover>

<style>
  .layout {
    overflow: scroll;
    height: 100%;
    max-height: 100%;
  }
</style>
