---
import Head from "./Head.astro";
import Header from "./EditorHeader.astro";
import EditorDescription from "./EditorDescription.astro";
import ScrollIndicator from "../components/common/ScrollIndicator.astro";
import "./SVGCurves.css";

export interface Props {
  title: string;
  lesson: string;
  links: { title: string; link: string }[];
}

const { title, lesson, links } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <Head
    title={`${title} - SVG Tutorial`}
    description="Interactive SVG editor for basic shapes"
    image={"https://svg-tutorial.com/image.png"}
  />
  <body>
    <Header title={title} items={links} lesson={lesson} />
    <div class="editor-container">
      <div class="editor">
        <slot />
      </div>
      <EditorDescription>
        <slot name="description" />
      </EditorDescription>
      <div class="scroll-container">
        <ScrollIndicator />
      </div>
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto");

  html {
    font-family: "Roboto", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
  }

  .editor-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row;
      overflow-y: hidden;
    }

    @media (min-width: 450px) {
      .editor {
        width: 100%;
        height: 100%;
      }
    }

    .scroll-container {        
        display: none;
    }

    @media (min-width: 450px) and (max-width: 899px) {
      .editor {
        max-height: calc(100vh - 79px); /* 79px is the height of the header. TODO: Make this nicer */

        svg {
          aspect-ratio: 1/1;
        }
      }

      .scroll-container {        
        display: block;
      }
    }
  }

  @media (min-width: 900px) {
    /* Colored stripe at the bottom that matches the embed's code background in height */
    .editor-container::after {
      content: "";
      width: 100%;
      height: var(--code-height);
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: var(--code-background-color);
      z-index: -1;
    }
  }
</style>