---
import Close from "../components/CloseButton.astro";

export interface Props {
  title: string;
  items: { title: string; link: string }[];
  lesson: string;
}

const { title, items, lesson } = Astro.props as Props;
---

<div class="header">
  <h1 class="title">{title}</h1>
  <div class="menu">
    <a href="/">Home</a>
    {items.map((item) => (<>
      {"  |  "}
      <a href={item.link}>{item.title}</a>  
    </>))}
  </div>
  <div class="menu">
    <a href={lesson}>See Examples</a>
  </div>
  <Close />
</div>

<style scoped>
  .header {
    padding: 30px 100px 0 30px;
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
  }

  .title {
    margin: 0;
    padding: 11px 0;
    font-size: 1.5em;
    @media screen and (min-width: 700px) {
      display: none;
    }
  }

  .menu {
    display: inline-block;
    background-color: var(--draggable-color);
    padding: 15px;
    border-radius: 15px;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .header a {
    text-decoration: none;
    color: var(--helper-color);
    font-weight: bold;
    padding: 10px 9px 10px 9px;
  }
</style>
