---
import HideIcon from "../components/common/HideIcon.astro";
import ShowIcon from "../components/common/ShowIcon.astro";
---

<div class="description-container">
    <div class="description">
        <HideIcon />
        <slot />
    </div>
</div>
<ShowIcon bottom={210} right={40}/>

<style>
  .description-container {
    display: flex;
    position: relative;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .description-container::after {
    content: "";
    width: 100%;
    height: var(--code-height);
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--code-background-color);
    z-index: -1;
  }
  
  .description {
    box-sizing: border-box;
    width: 360px;
    padding: 30px 30px 50px 30px;
    overflow-y: auto;
    border-radius: 15px;
    margin: 20px 30px 50px 0;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
  }
</style>

<style is:global>
  body:has(.description-container input[name="visibility-toggle"]:checked) {
    .description-container {
      display: none;
    }

    .show {
      display: flex;
    }
  }
</style>

<style is:global>
  .description h2:not(:first-of-type) {
    margin-top: 4em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
  }

  .description h3 {
    border-top: 1px solid #ccc;
    padding: 20px 0 0 0;
    color: #333;
    font-size: 1em;
  }

  .description p {
    color: #8B8B8B;
    font-size: 0.8em;
  }

  .description h2 + p {
    color: inherit;
    font-size: 1em;
    margin-bottom: 2em;
  }

  .description code {
    background-color: lightgray;
    padding: 2px 5px 2px;
    color: black;
  }

  .segment-container + p,
  .segment-container + p + p {
    margin-left: 50px;
    padding-left: 10px;
  }
</style>
