---
import Head from "./Head.astro";
import Header from "./EditorHeader.astro";
import EditorDescription from "./EditorDescription.astro";
import "./SVGCurves.css";

export interface Props {
  title: string;
  lesson: string;
  links: { title: string; link: string }[];
}

const { title, lesson, links } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <Head
    title={`${title} - SVG Tutorial`}
    description="Interactive SVG editor for basic shapes"
    image={"https://svg-tutorial.com/image.png"}
  />
  <body>
    <Header items={links} lesson={lesson} />
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="editor-container">
      <slot />
      <EditorDescription>
        <slot name="description" />
      </EditorDescription>
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto");

  html {
    font-family: "Roboto", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
  }

  .editor-container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 100%;
  }
</style>