---
import Head from "./Head.astro";
import "@fontsource/fredoka-one";

import TableOfContents from "../components/TableOfContents.astro";
import Share from "../components/ShareThisSite.astro";
const title = "SVG Tutorial - Learn how to code images in HTML with SVG";
const description =
  "Learn the fundamentals of Scalable Vector Graphics (SVG) from the basics up to advanced concepts like animation and interactivity.";
---

<!doctype html>
<html lang="en">
  <Head
    title={title}
    description={description}
    image={"https://svg-tutorial.com/image.png"}
  />

  <body>
    <slot />

    <footer>
      <TableOfContents />
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/kBT90nwUb_o?si=X6zQ4Ju4kl7AeGVC"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <div>
        SVG Tutorial made by <a
          href="https://bio.link/hunor"
          target="_blank"
          rel="noopener">Hunor Márton Borbély</a
        > in 2023
      </div>
      <div style="display: flex; align-items: center; gap: 40px">
        <Share />
        <a
          href="https://www.buymeacoffee.com/hunor"
          target="_blank"
          rel="noopener">Buy Me a Coffee</a
        >
      </div>
    </footer>
    <style is:global>
      body {
        background-color: #151515;
        margin: 0;
      }

      a,
      a:visited {
        color: inherit;
      }

      * {
        box-sizing: border-box;
      }

      footer {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 20px 50px 20px;

        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8em;
      }

      footer > * {
        padding: 20px 0 20px 0;
      }

      footer iframe {
        max-width: 100%;
        border: 0;
      }
    </style>
  </body>
</html>
