---
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>SVG Tutorial</title>
    <meta property="og:locale" content="en_US" />
    <meta
      property="og:title"
      content="SVG Tutorial: Learn how to create SVG images, shapes, animations, and more"
    />
    <meta
      property="og:description"
      content="Explore the fundamentals of Scalable Vector Graphics (SVG). Learn how to create and manipulate SVG images with JavaScript, animatie them with CSS. Or turn things around and generate graphics from code."
    />
    <meta property="og:site_name" content="SVG Tutorial" />

    <meta property="og:image" content="https://svg-tutorial.com/image.png" />
    <meta property="og:url" content="svg-tutorial.com" />
    <script>
      import { webVitals } from "../lib/vitals";
      import { inject } from "@vercel/analytics";

      let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

      if (analyticsId) {
        webVitals({
          path: location.pathname,
          params: location.search,
          analyticsId,
        });
      }
      inject();
    </script>
  </head>
  <body>
    <slot />
    <style is:global>
      body {
        background-color: #151515;
        margin: 0;
      }

      a,
      a:visited {
        color: inherit;
      }

      * {
        box-sizing: border-box;
      }
    </style>
  </body>
</html>
