---
import Head from "./Head.astro";
import "@fontsource/lato";
---

<!doctype html>
<html lang="en">
  <Head
    title="Smile - SVG Tutorial"
    description="Scroll-driven SVG morphing animation with CSS only."
    image="https://svg-tutorial.com/image.png"
  />

  <body>
    <slot />
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        margin: 0;
        font-family: "Lato", sans-serif;
      }
    </style>
  </body>
</html>
