---
import Head from "./Head.astro";
import FigmaCursors from "./FigmaCursors.astro";
import "@fontsource/lato";
---

<!doctype html>
<html lang="en">
  <Head
    title="TLDR: SVG Tutorial Summary"
    description="A short summary SVG-Tutorial.com"
    image="https://svg-tutorial.com/summary.png"
    article={{ published_time: "2024-05-30T08:00:00+00:00" }}
  />

  <body data-cursor>
    <slot />
    <FigmaCursors />
    <style is:global>
      html,
      body {
        height: 100%;
      }

      body {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      pre {
        overflow-x: initial !important; /* Overrinde inline style that messes up with scroll based animation */
      }
    </style>
  </body>
</html>
