---
import Head from "./Head.astro";
import BrowserScrollSupport from "../components/BrowserScrollSupport.astro";
import ScreenSizeCheck from "../components/ScreenSizeCheck.astro";
import FigmaCursors from "./FigmaCursors.astro";
import "./SVGCurves.css";
---

<!doctype html>
<html lang="en">
  <Head
    title="TLDR: SVG Tutorial Summary"
    description="A short summary SVG-Tutorial.com"
    image="https://svg-tutorial.com/summary.png"
    article={{ published_time: "2024-05-30T08:00:00+00:00" }}
  />

  <body data-cursor>
    <BrowserScrollSupport>
      <Fragment slot="fallback">
        <h1>Or</h1>
        <p>Watch this summary as a video on YouTube:</p>
        <iframe
          width="400"
          height="225"
          src="https://www.youtube.com/embed/hZYaSGUbMds?si=sOE6cWBC8IDaOoba"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </Fragment>
      <ScreenSizeCheck>
        <slot />
      </ScreenSizeCheck>
    </BrowserScrollSupport>
    <FigmaCursors />
    <style is:global>
      pre {
        overflow-x: initial !important; /* Overrinde inline style that messes up with scroll based animation */
      }
    </style>
  </body>
</html>
