:root {
  --background-color: #f6f7f9;
  --code-background-color: #24292e;
  --code-height: 180px;

  --corner-color: #939495;
  --curve-color: hsl(0, 95%, 60%);
  --curve-alternative-color: rgba(226, 226, 226, 0.468);
  --curve-alternative-hover-color: hsl(0, 95%, 60%);
  --helper-color: dimgray;

  --draggable-color: hsla(0, 0%, 82%, 0.585);
  --draggable-hover-color: rgba(96, 0, 30, 0.8);
  --draggable-text-color: transparent;
  --draggable-text-hover-color: black;
  --draggable-icon-color: dimgray;
  --draggable-icon-hover-color: white;

  --dragging-color: rgba(193, 0, 61, 0.8);
  --dragging-text-color: black;
  --dragging-icon-color: white;
}
