---
import Head from "./Head.astro";
import Header from "../svg-curves/components/Header.astro";
import HideIcon from "../components/common/HideIcon.astro";
import ShowIcon from "../components/common/ShowIcon.astro";
import "./SVGCurves.css";

export interface Props {
  lesson: string;
}

const { lesson } = Astro.props as Props;

const headerItems = [{title: 'Line', link: '/editor/line'}, { title: 'Circle', link: '/editor/circle'}, { title: 'Rectangle', link: '/editor/rect'}];
---

<!doctype html>
<html lang="en">
  <Head
    title="SVG Elements - SVG Tutorial"
    description="Interactive SVG tutorial for basic shapes"
    image={"https://svg-tutorial.com/image.png"}
  />
  <body>
    <Header items={headerItems} lesson={lesson} />
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="editor-container">
      <slot />
      <div class="description-container">
        <div class="description">
          <HideIcon />
          <slot name="description" />
        </div>
      </div>
      <ShowIcon bottom={210} right={40}/>
      </div>  
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto");

  html {
    font-family: "Roboto", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
  }

  * {
    box-sizing: border-box;
  }

  .editor-container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 100%;
  }

  .description-container {
    display: flex;
    position: relative;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .description-container::after {
    content: "";
    width: 100%;
    height: var(--code-height);
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--code-background-color);
    z-index: -1;
  }
  
  .description {
    width: 360px;
    padding: 30px 30px 50px 30px;
    overflow-y: auto;
    border-radius: 15px;
    margin: 20px 30px 50px 0;
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
  }
</style>

<style is:global>
  body:has(.description-container input[name="visibility-toggle"]:checked) {
    .description-container {
      display: none;
    }

    .show {
      display: flex;
    }
  }
</style>

<style is:global>
  .description h2:not(:first-of-type) {
    margin-top: 4em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
  }

  .description h3 {
    border-top: 1px solid #ccc;
    padding: 20px 0 0 0;
    color: #333;
    font-size: 1em;
  }

  .description p {
    color: #8B8B8B;
    font-size: 0.8em;
  }

  .description h2 + p {
    color: inherit;
    font-size: 1em;
    margin-bottom: 2em;
  }

  .description code {
    background-color: lightgray;
    padding: 2px 5px 2px;
    color: black;
  }
</style>
